<section>
  <app-profile-section title="{{ 'EDUCATION.TITLE' | translate }}" />
  <ol class="mt-2">
    <li class="mb-5">
      <time
        class="mb-1 text-sm font-normal leading-none text-secondary dark:text-gray-500"
        >{{ "MONTHS.JANUARY" | translate }} 2013 -
        {{ "MONTHS.DECEMBER" | translate }} 2017</time
      >
      <h3 class="text-lg font-semibold text-primary dark:text-white">
        FATEC de Araçatuba
      </h3>
      <p class="mb-4 text-base font-normal text-secondary dark:text-gray-400">
        Análise e desenvolvimento de sistemas
      </p>
    </li>
    <li>
      <time
        class="mb-1 text-sm font-normal leading-none text-secondary dark:text-gray-500"
        >{{ "MONTHS.JANUARY" | translate }} 2011 -
        {{ "MONTHS.JULY" | translate }} 2012</time
      >
      <h3 class="text-lg font-semibold text-primary dark:text-white">
        ETEC de Araçatuba
      </h3>
      <p class="text-base font-normal text-secondary dark:text-gray-400 mb-4">
        Técnico em informática
      </p>
    </li>
  </ol>
</section>
