<div class="navbar">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>Link</a></li>
      <li>
        <details>
          <summary>Parent</summary>
          <ul class="p-2 bg-base-100">
            <li><a>pt-BR</a></li>
            <li><a>EN</a></li>
          </ul>
        </details>
      </li>
      <li>
        <select class="select select-ghost w-full max-w-xs">
          <option disabled selected>Pick the best JS framework</option>
          <option>Svelte</option>
          <option>Vue</option>
          <option>React</option>
        </select>
      </li>
    </ul>
  </div>
</div>
