<div>
  <app-profile-section title="Skills" />

  <div class="grid gap-4 grid-cols-2 lg:grid-cols-4 mt-2">
    <div>
      <h3 class="text-primary flex items-center">
        {{ "SKILLS.LANGUAGES" | translate }}
      </h3>
      <ul>
        <li>Javascript</li>
        <li>PHP</li>
        <li>Delphi</li>
      </ul>
    </div>

    <div>
      <h3 class="text-primary">Frameworks</h3>
      <ul>
        <li>ReactJS</li>
        <li>Angular</li>
        <li>NestJS</li>
        <li>AdonisJS</li>
        <li>Laravel</li>
        <li>ExpressJS</li>
        <li>Bootstrap</li>
        <li>Tailwind CSS</li>
      </ul>
    </div>

    <div>
      <h3 class="text-primary">{{ "SKILLS.DATABASES" | translate }}</h3>
      <ul>
        <li>Microsoft SQL Server</li>
        <li>Oracle</li>
        <li>Firebird</li>
        <li>PostgreSql</li>
        <li>MongoDB</li>
        <li>MariaDB</li>
        <li>MySql</li>
        <li>Sqlite</li>
      </ul>
    </div>

    <div>
      <h3 class="text-primary">{{ "SKILLS.OTHERS" | translate }}</h3>
      <ul>
        <li>Docker</li>
        <li>RabbitMQ</li>
        <li>Scrum</li>
        <li>Atlassian Tools (Jira, Confluence, Bamboo, Bitbucket)</li>
        <li>Mocha</li>
        <li>Jest</li>
      </ul>
    </div>
  </div>
</div>
