<section>
  <app-profile-section title="{{ 'WORK.TITLE' | translate }}" />
  <ol class="relative border-l border-accent dark:border-gray-700 mt-2">
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-accent rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      ></div>
      <time
        class="mb-1 text-sm font-normal leading-none text-secondary dark:text-gray-500"
        >{{ "MONTHS.NOVEMBER" | translate }} 2022 -
        {{ "OTHERS.PRESENT" | translate }}</time
      >
      <h3 class="text-lg font-semibold text-primary dark:text-white">
        Capgemini Brasil
      </h3>
      <p class="mb-4 text-base font-normal text-secondary dark:text-gray-400">
        Backend for frontend and frontend developer.
      </p>
    </li>
    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      ></div>
      <time
        class="mb-1 text-sm font-normal leading-none text-secondary dark:text-gray-500"
        >{{ "MONTHS.JUNE" | translate }} 2021 -
        {{ "MONTHS.NOVEMBER" | translate }} 2022</time
      >
      <h3 class="text-lg font-semibold text-primary dark:text-white">
        Konvix Tecnologia
      </h3>
      <p class="text-base font-normal text-secondary dark:text-gray-400 mb-4">
        Full Stack Developer
      </p>
    </li>

    <li class="mb-10 ml-4">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      ></div>
      <time
        class="mb-1 text-sm font-normal leading-none text-secondary dark:text-gray-500"
        >{{ "MONTHS.JANUARY" | translate }} 2019 -
        {{ "MONTHS.JUNE" | translate }} 2021</time
      >
      <h3 class="text-lg font-semibold text-primary dark:text-white">
        Midori Auto Leather Brasil
      </h3>
      <p class="text-base font-normal text-secondary dark:text-gray-400">
        IT support analyst, full stack developer, Protheus ERP analyst.
      </p>
    </li>

    <li class="ml-4">
      <div
        class="absolute w-3 h-3 bg-secondary rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      ></div>
      <time
        class="mb-1 text-sm font-normal leading-none text-secondary dark:text-gray-500"
        >{{ "MONTHS.JANUARY" | translate }} 2014 -
        {{ "MONTHS.JANUARY" | translate }} 2019</time
      >
      <h3 class="text-lg font-semibold text-primary dark:text-white">
        Intersolid Software
      </h3>
      <p class="text-base font-normal text-secondary dark:text-gray-400">
        Full stack developer, providing maintenance in a ERP Software and
        developing new soluctions focusing in supermarkets.
      </p>
    </li>
  </ol>
</section>
