<div>
  <app-profile-section title="{{ 'CONTACT.TITLE' | translate }}" />
  <div class="flex flex-col mt-2">
    <div class="flex flex-row items-center">
      <ng-icon
        name="matHomeOutline"
        size="24px"
        class="mr-1 text-primary"
      ></ng-icon>
      <span class="font-bold text-secondary-focus">{{
        "CONTACT.ADDRESS" | translate
      }}</span>
    </div>
    <p>St. Victor André Barravieira, 559, Penápolis, SP, Brazil</p>
  </div>

  <div class="flex flex-col mt-2">
    <div class="flex flex-row items-center">
      <ng-icon
        name="matPhoneAndroidOutline"
        size="24px"
        class="mr-1 text-primary"
      ></ng-icon>
      <span class="font-bold text-secondary-focus">{{
        "CONTACT.MOBILE" | translate
      }}</span>
    </div>
    <p>+55 (18)9 9150-1533</p>
  </div>

  <div class="flex flex-col mt-2">
    <div class="flex flex-row items-center">
      <ng-icon
        name="matMailOutline"
        size="24px"
        class="mr-1 text-primary"
      ></ng-icon>
      <span class="font-bold text-secondary-focus">E-mail</span>
    </div>
    <p>gsuganame@gmail.com</p>
  </div>
</div>
